{
  "presets": [
    [
      "env", {
        "modules": false
      }
    ],
    "stage-0",
    "flow"
  ],
  "plugins": [
    "external-helpers",

    [
      "babel-plugin-root-import", [
        {
          "rootPathPrefix": "~",
          "rootPathSuffix": "src"
        }
      ]
    ]
  ]
}
