{
  "plugins": [
    "prettier"
  ],
  "env": {
    "browser": true,
    "node": true,
    "commonjs": true,
    "es6": true,
    "jest": true
  },
  "globals": {},
  "extends": [
    "prettier"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module"
  },
  "settings": {},
  "rules": {
    // Plugins

    // Possible Errors

    // Best Practices

    // Variables

    // Node.js and CommonJS

    // Stylistic Issues

    // JS.Next
  }
}
